@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Young Creators Theme */
  --yc-blue: #2563eb;
  --yc-sky: #38bdf8;
  --yc-green: #84cc16;
  --yc-yellow: #facc15;

  --yc-bg: #f8fafc;
  --yc-card: #ffffff;
  --yc-text: #0f172a;
  --yc-muted: #64748b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}